.question-index{
    padding: 0px 0 24px 0px;
    border-left:1px solid #E4E6E7;
    width: 783px;
    min-height: 100%;
}

.question-index-header{
    align-items: center;
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;
    border-bottom:1px solid #E4E6E7;
    border-left:1px solid #E4E6E7;
}

.question-index-button{
    width: 98.72;
    height: 37.78px;
    background-color: #0A95FF;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    user-select: none;
    border: 1.5px solid #0a95ff;
    box-shadow: inset 0 0.3px 0 0 white;
    font-weight: 500;
}

.question-index-button:hover{
    background-color: #0074CC;
}

.data-controller{
    font-size: 22px;
    height: 47.844px;
    width: 727px;
    border-bottom:1px solid #D7D9DC;
    width: 100%;
    padding-left: 15px;
}

.dark-button{
    background-color: #e3e6e8;
}
.light-button{
    background-color: white;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.filter-buttons > button {
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 8px 8px 0 #e4e6e7;
    border: 1px solid #c9d3db;
    border-radius: 3px;
}