.displayName{
    color: #0074cc;
}
.question-show-content{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-left: 2px solid #E4E6E7;
    width: 763px;
    padding: 24px;
    min-height: 100%;
}

.title-and-button{
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.question-show-ask-question-button{
    max-height: 37.7812px;
    width: 103.016px;
    background-color: #0A95FF;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    user-select: none;
    margin-bottom: 20px;
    border: 1.5px solid #0a95ff;
    box-shadow: inset 0 0.3px 0 0 white;
}

.stats{
    display: flex;
    flex-direction: row;
    text-align: left;
    color: #6a737c;
}

.question-body{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: #333333;
}

.question-show-bottom{
    display: flex;
}

.answer-body{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: #333333;
}

.answer-show-bottom{
    display: flex;
}
.crud-functions{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
    height: 17px;
    border-bottom: 2px solid #E4E6E7;
}

.vote-count{
    display: flex;
    justify-content: center;
}


.edit-delete{
    color: #3C8AD4;
}

.answer-count{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 19px;
}

.arrow{
    cursor: pointer;
}

.question-tags{
    margin-top: 30px;
    margin-left: 30px;
}

.title-and-button button{
    min-width: 103px;
}