.login-page{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F2F3;
    width: 100%;
    min-height: 100vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 288.45px;
}

.credentials{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 0 10px 1px #CCCCCC;
}

.credentials input:focus {
    border: 1px solid #59a4de;
    border-radius: 3px;
    box-shadow: 0 0 0 4px #deeaf7
}

#forgot-password{
    float: right;
    font-weight: lighter;
    padding-top: 2px;
    font-size: 12px;
}

.login-button{
    background-color: #0A95FF;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    user-select: none;
    margin-bottom: 20px;
    border: 1.5px solid #0a95ff;
    box-shadow: inset 0 0.3px 0 0 white;
}

.demo{
    background-color: #5ec4bf;
    margin-bottom: 0px;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    user-select: none;
    margin-bottom: 20px;
    border: 1.5px solid #5ec4bf;
    box-shadow: inset 0 0.3px 0 0 white;
}

.demo:hover{
    background-color: #008080;
}


.link{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
}

label{
    cursor: pointer;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #3C8AD4;
}

a:visited{
    text-decoration: none;
}

.link > div {
    margin-bottom: 15px;
}

#emailLabel{
    margin-bottom: 10px;
}

#email{
    margin-bottom: 10px;
    height: 32.5938px;
}

#passwordLabel{
    margin-bottom: 10px;
}

#password{
    margin-bottom: 10px;
    height: 32.5938px;
}

#stack-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
}

.icon{
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 3px;
}

