.question-container{
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 751px;
    position: relative;
    padding: 16px;
    border-bottom:1px solid #E4E6E7;
    border-left:1px solid #E4E6E7;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}

.question-stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: min-content;
    width: max-content;
    margin-right: 20px;
    margin-bottom: 4px;
    color: #6A737C;
}

.question-index-votes{
    width: 100px;
    margin-bottom: 15px;
    text-align: end;
}

.question-index-answers{
    width: 100px;
    text-align: end;
}

.question-listing-title{
    color: #0074CC;
    font-size: 17px;
    margin-bottom: 10px;
}

.question-content-summary-body{
    position: relative;
    color: #3b4045;
}

.question-content-summary-bottom{
    width: 595px;
    height: 38.594px;
}

.question-content-summary-bottom-user-card{
    position: absolute;
    justify-content: space-between;
    width: 600px;
    margin-top: 20px;
    bottom: 5%;
}

.editor{
    font-size: 13px;
}