.tags-list {
  display: flex;
  flex-flow: wrap;
  justify-items: space-between;
  width: 783px;
  height: 100px;
  line-height:20px;
}

.tax-index{
  padding: 0px 0 24px 0px;
  background-color: blue;
  line-height: 10px;
}

.tags-item{
  display: inline-table;
  width: 50px;
  margin-right: 10px;
  margin-top: 15px;
}

.tag-item {
  color: #39739d;
  background-color: #e1ecf4;
  border-color: #00000000;
}