.left-sidebar{
    color: #525960;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: sticky;
    width: 191px;
}

.left-sidebar-content{
    margin-top: 10px;
}

/* 
.left-sidebar-home{
    padding: 4px 4px 4px 8px;
    font-size: 18px;
    cursor: pointer;
}
.left-sidebar-public{
    font-size: 11px;
    width: 55px;
    margin-top: 16px;
    margin-bottom: 5px;
    margin-left: 8px;
    font-size: 18px;
}

.left-sidebar-link{
    height: 33px;
    width: 154px;
    font-size: 18px;
    cursor: pointer;
}

.left-sidebar-questions{
   display: flex; 
   padding: 12px 6px 4px 4px;
}

.left-sidebar-tag{
    padding: 4px 4px 4px 22px;
}

.left-sidebar-users{
    padding: 4px 4px 4px 22px;
} */

.left-sidebar-link{
    width: 154px;
    height: 33px;
    color: #525960;
}

.left-sidebar-home{
    width: 187px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.left-sidebar-public{
    width: 146px;
    height: 14.38px;
    margin-bottom: 4px;
    font-size: 11px;
    display: flex;
    align-items: center;
}

.left-sidebar-questions{
    padding: 4px 4px 4px 14px;
    width: 170px;
    display: flex;
    align-items: center;
}

.left-sidebar-tags{
    padding: 4px 4px 4px 30px;
    display: flex;
    align-items: center;
}

.left-sidebar-users{
    padding: 4px 4px 4px 30px;
    display: flex;
    align-items: center;
}